@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;600&display=swap');

.Nav{
  margin-bottom: 80px;
  border: none;
  
}

#homeContent1{
margin-top: -80px;
  
}

#navlistStyle{
  font-family: 'Sansita Swashed';
}

#logo{
  font-family: 'Sansita Swashed' cursive;;
}

.emmergency{
  color: red;
}

#register{
  background-color: rosybrown;
  width: 100%;
  height: 100vh;
  background-image: url('/img/ramon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
